# Python
__pycache__/
*.pyc
*.pyo

# Database
*.db

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Editor
.vscode/

# Node
node_modules/

# Office / Temporary files
*.docx
~$*
